* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    position: relative;
    height: fit-content;
    background: linear-gradient(to bottom, #fffefa, #f0e7a2);
}

/* Header Section */
.header {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 21vh;
  object-fit: contain;
}

/* Main Section */
.main {
  display: flex;
  flex-direction: column;
}

.left-section,
.right-section {
  width: 100%;
}

.left-section img,
.award-image-right {
  max-width: 100%;
  height: -webkit-fill-available;
}


.left-section,
.right-section {
  padding: 15px;
  text-align: justify;
}

h2,h3{
  font-size: 1rem;
  padding-bottom: 10px;
}
h6,span{
  font-size: 15px;
  font-weight: 600;
  /* padding: 0 10px; */
}


ul{
  margin: auto;
  width: 92%;
  padding-bottom: 5px;
}
li,
.right-section p {
  text-align: justify;
  font-size: 19px;
  padding: 10px 0;
}



/* Other Section */
.tools-section   {
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dd3030;
  text-align: justify;
}
.tools-section p:first-child{
  padding-bottom: 5px;
}
.tools-section p:last-child,
.info-section{
  text-align: center;
}
.info-section{
  width: 95%;
  margin: auto;
}
.grid , .info-section p{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.grid img{
  width: 77%;
  margin: auto;
}

/* Footer Section */
.footer {
  background-color: rgb(196, 34, 34);
  color: #fff;
  padding: 35px;
  text-align: center;
  margin: 10px;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  cursor: pointer;
  padding: 10px 0;
}





@media only screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }
  .left-section {
    width: 34%;
    max-width: 33%;
  }
  .right-section {
    width: 66%;
    max-width: 67%;
  }
}

@media only screen and (max-width: 767px) {
  .logo{
    max-height: 11vh;
  }
  .left-section,
  .right-section,.tools-section, .info-section{
    width: 94%;
    max-width: 100%;
    margin: auto;
  }
  .footer,.left-section, .info-section, .info-section p{
    padding: 7px;
  } 
  .left-section img{
    width: 100%;
    height: auto;
    max-height: 35vh;
    object-fit: contain;
  }
  .right-section img{
      width: 100%;
  }

  li,.right-section p{
    font-size: 14px;
  }
  .tools-section p, .info-section p{
    font-size: 12px;
    width: 92%;
    margin: auto;
    text-align: justify;
  }
  h2,h3,h6,span{
    font-size: 12px;
  }
  
  .grid img{
    width: 100%;
    margin: 10px;
    height: 17vh;
  }

  .footer-main{
    padding-bottom: 0;
  }

}